header {
    position: relative;
    padding: 5px 1px 20px 0px;
}

.about {
    position: absolute;
    width: 600px;
    height: 100px;
    margin: 5% 30%;
    text-align: center;
}

.about h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.about h2 {
    text-align: center;
    color: rgb(161, 218, 228);
    text-transform: uppercase;
    font-size: 15px;
}

.about h1 span {
    color: #00fecb;
}

.text {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 10% 30%;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .logo {
        float: none;
        width: 35%;
        text-align: center;
        margin: auto;
    }
    .about {
        width: 100%;
        height: auto;
        margin: 12% 0;
    }
    .about h1 {
        font-size: 20px;
    }
    .text {
        width: 100%;
        height: auto;
        margin: 20% 0;
    }
}